.container {
	position: fixed;
	left: 0;
	width: 614px;
	height: 100%;
	overflow: scroll;
	transform: translate(-614px);
	transition: transform 0.5s ease;
}

.container_open {
	transform: translate(0);
}

.form {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	gap: 50px;
	box-sizing: border-box;
	width: 614px;
	height: auto;
	min-height: 100%;
	padding: 50px 30px;
	background-color: #ffffff;
	border-right: 1px solid #000000;
}

.title {
	margin: 0;

	// margin-bottom: 25px;
}

// .fontSizeWrapper {
// 	margin-top: 26px;
// }

.separatorWrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	// margin-top: 37.5px;
	// margin-bottom: 37.5px;
}

.customSeparator {
	width: 554px;
	height: 1px;
	background-color: #d7d7d7;
}

.backgroundColorWrapper {
	margin-top: 0;
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}
